In [1]:
import torch
import pandas as pd
import matplotlib.pyplot as plt
import itertools
from google.colab import drive

In [26]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
datasetCora="cora"
datasetCiteseer="citeseer"
pathsaveCora="/content/drive/My Drive/Colab Notebooks/TESI/save/"+datasetCora+"/"
pathsaveCiteseer="/content/drive/My Drive/Colab Notebooks/TESI/save/"+datasetCiteseer+"/"
pathsalvataggiCora=pathsaveCora+'salvataggiCora.pt'
pathsavedataframeCora=pathsaveCora+'dataframeCora.pt'
pathsalvataggiCiteseer=pathsaveCiteseer+'salvataggiCiteSeer.pt'
pathsavedataframeCiteseer=pathsaveCiteseer+'dataframeCiteSeer.pt'

In [36]:
datiCora=torch.load(pathsalvataggiCora)
datiCiteseer=torch.load(pathsalvataggiCiteseer)
dataframeCora=torch.load(pathsavedataframeCora)
dataframeCitesser=torch.load(pathsavedataframeCiteseer)

In [37]:
dataframeCora

      Modelli   BestAUC   BestACC  ...  FattoreRiduzione   lossMin  NumFeatures
0    modello0  0.739574  0.645197  ...               1.5  0.636166         1433
1    modello1  0.775238  0.634279  ...               1.5  0.618343         1433
2    modello2  0.761060  0.639738  ...               1.5  0.631665         1433
3    modello3  0.887762  0.754367  ...               1.5  0.479629         1433
4    modello4  0.831584  0.732533  ...               1.5  0.547104         1433
..        ...       ...       ...  ...               ...       ...          ...
91  modello91  0.861322  0.766376  ...              10.0  0.526391         1433
92  modello92  0.836294  0.769651  ...              10.0  0.529825         1433
93  modello93  0.864536  0.764192  ...              10.0  0.506071         1433
94  modello94  0.806035  0.712882  ...              10.0  0.607383         1433
95  modello95  0.787028  0.706332  ...              10.0  0.557382         1433

[96 rows x 10 columns]

In [35]:
dataframeCitesser

      Modelli   BestAUC   BestACC  ...  FattoreRiduzione   lossMin  NumFeatures
0    modello0  0.746071  0.660584  ...               1.5  0.603915         3703
1    modello1  0.790293  0.627737  ...               1.5  0.579813         3703
2    modello2  0.827588  0.691606  ...               1.5  0.541778         3703
3    modello3  0.874674  0.711679  ...               1.5  0.523377         3703
4    modello4  0.867921  0.755474  ...               1.5  0.501483         3703
..        ...       ...       ...  ...               ...       ...          ...
91  modello91  0.879216  0.775547  ...              10.0  0.548563         3703
92  modello92  0.872409  0.771898  ...              10.0  0.532786         3703
93  modello93  0.810765  0.709854  ...              10.0  0.590200         3703
94  modello94  0.886582  0.777372  ...              10.0  0.475144         3703
95  modello95  0.828001  0.713504  ...              10.0  0.557269         3703

[96 rows x 10 columns]

#PARAMETRI MODELLO

In [ ]:
#CALCOLA I PARAMETRI PER IL MODELLO ------------------------------------------------------------------------------------------------
inOutDim=[] #contiene i valori in out delle varie gat
head=[5,4,1]  # metto gli head in base a quanti ne metto ho diversi layer 
#head=[1]
layerGat=len(head)# quanti layer gat ho

outputGat=20 # output dell'ultima gat
linear=[outputGat,10] # vari in out dei livelli lineari 20->50 50->10 ecc l'ultimo di default nel modello viene messo a 1 

#linear=[outputGat]
layerLin=len(linear) # prendo il numero di livelli 
featureInputSize=datasetsubgrafi["train"].x.size()[1] #1433 è il primo in della gat, è il num di feature 
inOutDim.append(featureInputSize) # metto come primo valore 1433

#s=round(featureInputSize/layer)
for i in range(1,layerGat):
  inOutDim.append(round(inOutDim[i-1]/2))

In [ ]:
prova=GAT(layerGat, outputGat ,inOutDim,head,layerLin,linear)
print(prova)
prova=None